{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Content }}<div class="page-content">{{ . }}</div>{{ end }}

<div class="posts">
  {{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
  <article class="post-summary">
    <div class="post-date">
      <span class="month">{{ .Date.Format "Jan" }}</span>
      <span class="day">{{ .Date.Format "2" }}</span>
      <span class="year">{{ .Date.Format "2006" }}</span>
    </div>
    <div class="post-content">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p>{{ .Summary }}</p>
      <div class="post-meta">
        {{ with .Params.categories }}<span class="categories">{{ range . }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</span>{{ end }}
        {{ with .Params.author }}<span class="author">{{ . }}</span>{{ end }}
      </div>
    </div>
  </article>
  {{ end }}
</div>

{{ template "_internal/pagination.html" . }}
{{ end }}
